<div id="wrapper">
    <header id="header">
    <div class="inner">
        <a href="/" class="logo">
        <span class="symbol"> <img src="assets/logo.svg" alt=""/></span><span class="title">Recipes</span>
        </a>

        <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
        </ul>
        </nav>
    </div>
    </header>
    <nav id="menu">
        <h2>Menu<span id="username"></span></h2>
        <ul>
            <li><a href="{{ '/' | relative_url}}">Home</a></li>
            <li style="display: none;" id="editButton">
            <a href="{{ '/edit' | relative_url }}"><i class="fas fa-plus-square"></i> Add Recipe</a>
            </li>
            {% for category in site.data.categories %}
            <li><a href="{{ category.name | slugify | relative_url}}">{{category.name | capitalize }}</a></li>
            {% endfor %}
            <li><a id="loginButton" href="">Login</a></li>
            <!-- <li><a href="{{ '/recipes' | relative_url}}">Recipes</a></li> -->
            <!--<li><a href="generic.html">Tempus etiam</a></li>
                            <li><a href="generic.html">Consequat dolor</a></li>
                            <li><a href="elements.html">Elements</a></li> -->
        </ul>
    </nav>
    
    <div class="main">
        <div id="app" class="inner">
        </div>
    </div>
</div>