<!DOCTYPE html>
<html>
  <head>
    <title>{{site.title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url}}" />
    <noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}"/></noscript>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/msal.js"></script>
  </head>
  <body class="is-preload">
    <div id="wrapper">
      <header id="header">
        <div class="inner">
          <a href="{{ '/' | relative_url}}" class="logo">
            <span class="symbol"> <img src="{{ 'assets/images/logo.svg' | relative_url }}" alt=""/></span><span class="title">{{ site.title }}</span>
          </a>

          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <nav id="menu">
        <h2>Menu<span id="username"></span></h2>
        <ul>
          <li><a href="{{ '/' | relative_url}}">Home</a></li>
          {% for category in site.data.categories %}
          <li><a href="{{ category.name | slugify | relative_url}}">{{category.name | capitalize }}</a></li>
          {% endfor %}
          <li><a id="loginButton" href="">Login</a></li>
          <li style="display: none;" id="editButton"><a href="{{ '/edit' | relative_url }}">Edit</a></li>
          <!-- <li><a href="{{ '/recipes' | relative_url}}">Recipes</a></li> -->
          <!--<li><a href="generic.html">Tempus etiam</a></li>
							<li><a href="generic.html">Consequat dolor</a></li>
							<li><a href="elements.html">Elements</a></li> -->
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          {{content}}
        </div>
      </div>
    </div>

    <script>
      const authCallback = '{{site.auth_callback}}';
    </script>
    <script src="{{ 'assets/js/auth.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/util.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
  </body>
</html>

<!-- based on https://html5up.net/phantom-->
